@import "tailwindcss";

:root {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;

  /* Outras configurações de tema se necessário */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
